@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&family=Poiret+One&display=swap');
:root{
  --dark:#212730;
  --white:#E6E6E6;
  --grey:#b8b9ba;
  --darkGrey:#4B5057;
  --blue:#01ACB4;
  --white:#f9f9f9;
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

.chat{
  position: fixed;
  top: 50%;
  right: 0;
  background-color: var(--dark);
  color: var(--white);
  transform: rotate(90deg) translateY(-100%);
  height: 50px;
  padding: 20px 40px;
  align-items: center;
  display: flex;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 10;
}
.chat:hover{
  background-color: var(--darkGrey);
}
.sectionTitle{
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 400;
  color: var(--dark);
  text-align: center;
  position: relative;
}
.sectionTitle::after{
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--blue);
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;

}
#home .container {
  height: 100vh;
  left: 78px;
  position: relative;
  max-width: 100vw;
  width: calc(100% - 78px);
  overflow-x: hidden;
}
#home .container .navigation{
  z-index: 20;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
#home .container .navigation .btnNavigation{
  background-color: var(--white);
  width: 10px;
  height: 10px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}
#home .container .navigation .btnNavigation.active{
  background-color: var(--grey);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
}
#home .main {
  transition: 1.5s;
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  clip-path: circle(0% at 0 50%);
}
#home .main .imgSlide{
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
}
#home .main .linearGradient{
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(27, 34, 49, 0.7), rgba(27, 34, 49, 0.8));
}

#home .main .pageContent{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  z-index: 2;
}
#home .main .pageContent .logo{
  position: absolute;
  top: 20px;
  right: 20px;
}
#home .main .pageContent .logo img{
  width: 220px;
  height: 70px;
}
#home .mainTitle{
  font-size: 40px;
  color: var(--white);
  font-family: 'Poiret One', cursive;
  text-align: center;
  max-width: 1000px;
  font-weight: 800;
}
#home .secondTitle{
  font-size: 18px;
  color: var(--white);
  text-align: center;
  max-width: 1000px;
}
#home .main .homeButtons{
  display: flex;
  gap: 10px;
}
#home .main.active{
  clip-path: circle(150% at 0 50%);
}
#home .btnNavigation.active{
  background-color: var(--dark);
}
#home .main .homebtn{
  border: 2px solid var(--blue);
  background: transparent;
  width: 190px;
  padding: 12px;
  color: var(--white);
  font-size: 18px;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  z-index: 20;
  font-weight: 500;
  letter-spacing: 1px;
}
#home .main .homebtn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--blue);
  transition: width 1s ease;
  z-index: -1;
  border-radius: 20px;
}
#home .main .homebtn:hover::before{
  width: 100%;
}
/*#home i{
  color: var(--white);
  font-size: 30px;
  text-align: center;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}
#searchBar{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 95%;
}*/

@media (max-width: 1200px) {
  #home .mainTitle {
    font-size: 30px;
  }
  #home .secondTitle{
    font-size: 18px;
  }
}
@media (max-width: 810px) {
  #home .mainTitle {
    font-size: 25px;
  }
  #home .secondTitle{
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  #home .container {
    width: 100%;
    left: 0;
  }
  #home .mainTitle {
    font-size: 20px;
  }
  #home .secondTitle, #home label{
    font-size: 14px;
  }
  #searchBar{
    margin-top: 70px;
  }
}

.imgContainer {
  overflow: hidden;
  height: 400px;
}

.imgContainer {
  overflow: hidden;
  height: 400px;
}

.imgContainer img {
  opacity: 0;
  animation: slideIn 4s infinite;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  40%, 60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}


